* {
    display: inline-block;
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
}

.container {
    max-width: 1440px;
}

.link {
    text-decoration: none;
}

