.field {
    background-color: $field-bg;
    display: flex;

    @media screen and (max-width: 960px) {
        flex-direction: column;
        align-items: center;
    }
}

.container {
    padding-right: 50px;

    @media screen and (max-width: 960px) {
        padding-right: 10px;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    max-width: 1120px;
    max-height: 1120px;
    width: 100%;
    height: 100%;
    padding: 50px 78px;
}

.grid-container > * {
    aspect-ratio: 1 / 1;
    border: 1px solid;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tools-container {
    display: grid;
    grid-template-columns: repeat(4, 64px);
    grid-auto-rows: 64px;
    margin: auto;

    @media screen and (max-width: 960px) {
        padding-bottom: 40px;
    }

    @media screen and (max-width: 470px) {
        grid-template-columns: repeat(4, minmax(10%, 64px));
        grid-auto-rows: 1fr;
    }
}

.tools-container::before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.tools-container > *:first-child {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

.tools-container > * {
    background: #fff;
    border: 1px solid black;
}
